# 1. tf-idf definition

In [1]:
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/agnews_clean.csv -O

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 33.2M  100 33.2M    0     0  29.3M      0  0:00:01  0:00:01 --:--:-- 29.3M

In [4]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .master("local[*]")
         .appName("AG news")
         .getOrCreate()
        )

agnews = spark.read.csv("agnews_clean.csv", inferSchema=True, header=True)

# turning the second column from a string to an array
import pyspark.sql.functions as F
from pyspark.sql.types import ArrayType, StringType
agnews = agnews.withColumn('filtered', F.from_json('filtered', ArrayType(StringType())))

In [5]:
# each row contains the document id and a list of filtered words
agnews.show(5, truncate=30)

+---+------------------------------+
|_c0|                      filtered|
+---+------------------------------+
|  0|[wall, st, bears, claw, bac...|
|  1|[carlyle, looks, toward, co...|
|  2|[oil, economy, cloud, stock...|
|  3|[iraq, halts, oil, exports,...|
|  4|[oil, prices, soar, time, r...|
+---+------------------------------+
only showing top 5 rows

In [19]:
from pyspark.sql.functions import explode, size, count, log, col, countDistinct, struct, collect_list

In [20]:
# Explode words to get (id, word) per document
tokens = agnews.select('_c0', explode('filtered').alias('word'))

# Total number of documents
N = agnews.select('_c0').distinct().count()

# Document length
doc_length = agnews.select('_c0', size('filtered').alias('doc_len'))

# tf = count(word in doc) / total words in doc
tf = tokens.groupBy('_c0', 'word').agg(count('*').alias('term_count')) \
          .join(doc_length, on='_c0') \
          .withColumn('tf', col('term_count') / col('doc_len'))

# Number of docs with each word
df = tokens.dropDuplicates(['_c0', 'word']).groupBy('word').agg(count('*').alias('doc_freq'))

# Inverse Document Frequency (IDF)
idf = df.withColumn('idf', log(N / col('doc_freq')))

# TF-IDF
tfidf = tf.join(idf, on='word').withColumn('tfidf', col('tf') * col('idf'))

# TF -IDF by doc
tfidf = tfidf.groupBy('_c0').agg(
    collect_list(struct('word', 'tfidf')).alias('tfidf_values')
)

tfidf.orderBy('_c0').show(5, truncate=False)

+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|_c0|tfidf_values                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|0  |[{cynics, 0.563734318747707}, {green, 0.2877107940095433}, {claw, 0.499114829314058}, {back, 0.1892216338539946}, {dwindling, 0.4572386180709258}, {band, 0.3643421454792778}, {reuters, 0.24754017186645658}, {bears, 0.3372044607529448}, {wall, 0.5115985326511431}, {ultra, 0.4125512394225831}, {st, 0.2584728642725166}, {sellers, 0.4468379768438066}, {black, 0.2953171727366614}, {short, 0.2773120373951269}, {seeing, 0.37743394553516213}, {street, 0.24678348986493034}]                                                                                                                                                                                                                                                                                                                            |
|1  |[{investment, 0.1890771769001148}, {commercial, 0.2057832028092643}, {reputation, 0.2578098186776328}, {group, 0.12468100563149095}, {plays, 0.22418048797172685}, {reuters, 0.1650267812443044}, {firm, 0.15969712503706046}, {private, 0.1929050573011279}, {occasionally, 0.33274321954270536}, {market, 0.13394932212703356}, {part, 0.16022031730914288}, {bets, 0.27861293130724324}, {placed, 0.2284965552404658}, {looks, 0.1973537176743789}, {quietly, 0.25188254045524316}, {making, 0.1698717076460444}, {industry, 0.15043731768548949}, {aerospace, 0.2581171817448437}, {toward, 0.1898997183872362}, {carlyle, 0.7168306746824437}, {timed, 0.324478643568105}, {defense, 0.1751279339938823}, {well, 0.17053284421704767}, {another, 0.14507889141437585}, {controversial, 0.20949395177306526}]|
|2  |[{doldrums, 0.3770252270329423}, {economy, 0.3721400726458204}, {summer, 0.22694739048609625}, {plus, 0.24449073714833106}, {cloud, 0.295159450642955}, {week, 0.13121900794126834}, {market, 0.15069298739291276}, {earnings, 0.1792714404894228}, {oil, 0.13908157105107033}, {expected, 0.16094627131903613}, {soaring, 0.2596334462817101}, {stocks, 0.14976769101715193}, {stock, 0.17879168082328206}, {prices, 0.14472559202114177}, {reuters, 0.18565512889984243}, {next, 0.14062721303262238}, {depth, 0.31343954772064864}, {worries, 0.23009353850726894}, {hang, 0.30475018305843793}, {outlook, 0.4265073217271922}, {crude, 0.197241148492091}]                                                                                                                                                   |
|3  |[{exports, 0.2146590164054526}, {infrastructure, 0.22959926718225876}, {reuters, 0.15913296762843637}, {militia, 0.2252006141545402}, {official, 0.15149485319300557}, {halts, 0.27365396741681164}, {said, 0.06593367258642661}, {southern, 0.336553609483104}, {rebel, 0.18209445014364567}, {oil, 0.35763832555989516}, {showed, 0.1743365558077232}, {pipeline, 0.4720829409342409}, {iraq, 0.23809526243476142}, {authorities, 0.18159366801541998}, {export, 0.23862435123782139}, {main, 0.36492623402353547}, {flows, 0.2774168429760197}, {saturday, 0.12197305137253434}, {intelligence, 0.20782569445751425}, {halted, 0.2557691357056513}, {strike, 0.17411586950893898}]                                                                                                                            |
|4  |[{posing, 0.2589223867776184}, {menace, 0.5747440955975784}, {afp, 0.2559170042376607}, {economy, 0.14885602905832815}, {presidential, 0.1480257381794347}, {record, 0.1232987151692413}, {tearaway, 0.3918885216630942}, {three, 0.10314988960754677}, {economic, 0.1478268645368157}, {world, 0.09332201126546583}, {oil, 0.22253051368171256}, {us, 0.1669859687392097}, {present, 0.22209684830286883}, {prices, 0.23156094723382684}, {records, 0.19759033440942064}, {new, 0.12713976262548363}, {straining, 0.2904044404056468}, {soar, 0.2306791247647116}, {elections, 0.16009904796740967}, {months, 0.14002501854271598}, {time, 0.10623532598945135}, {barely, 0.21935019724396657}, {toppling, 0.27964532733021175}, {wallets, 0.2665151844733088}]                                                 |
+---+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

# 2. SVM objective function

In [2]:
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/w.csv -O
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/bias.csv -O
!curl https://raw.githubusercontent.com/mosesyhc/de300-2025sp-class/refs/heads/main/data_for_svm.csv -O

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1391  100  1391    0     0   6935      0 --:--:-- --:--:-- --:--:--  6955
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    22  100    22    0     0    119      0 --:--:-- --:--:-- --:--:--   119
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 61.9M  100 61.9M    0     0  55.8M      0  0:00:01  0:00:01 --:--:-- 55.8M

In [21]:
# This is an example to read the files. But you should consider using pyspark directly.
# *Make sure you are not assuming a header*!!

import numpy as np
from pyspark.sql.functions import udf, struct, mean
from pyspark.sql.types import IntegerType, DoubleType

import pandas as pd
data_svm = pd.read_csv('data_for_svm.csv', header=None)
w = pd.read_csv('w.csv', header=None)
bias = pd.read_csv('bias.csv', header=None)

In [27]:
spark = SparkSession.builder.appName("SVM_Loss").getOrCreate()
df = spark.read.csv("data_for_svm.csv", header=False, inferSchema=True)
feature_cols = [f"x{i}" for i in range(64)]
all_cols = feature_cols + ["y"]
for i, name in enumerate(all_cols):
    df = df.withColumnRenamed(f"_c{i}", name)

In [28]:
df.show(5)

+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
| x0| x1| x2| x3| x4| x5| x6| x7| x8| x9|x10|x11|x12|x13|x14|x15|x16|x17|x18|x19|x20|x21|x22|x23|x24|x25|x26|x27|x28|x29|x30|x31|x32|x33|x34|x35|x36|x37|x38|x39|x40|x41|x42|x43|x44|x45|x46|x47|x48|x49|x50|x51|x52|x53|x54|x55|x56|x57|x58|x59|x60|x61|x62|x63|  y|
+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
| -1| -1|  1|  1| -1|  1|  1|  1|  1| -1|  1|  1| -1| -1| -1|  1| -1|  1| -1|  1| -1|  1|  1| -1|  1|  1|  1| -1|  1| -1| -1| -1|  1|  1|  1| -1|  1| -1| -1| -1| -1|  1| -1|  1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1|  1| -1|
|  1|  1| -1|  1| -1| -1|  1|  1| -1|  1|  1| -1|  1| -1|  1|  1|  1|  1| -1|  1| -1| -1|  1| -1|  1| -1| -1|  1|  1|  1|  1| -1| -1|  1|  1| -1| -1| -1| -1|  1|  1|  1|  1|  1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1|  1|  1| -1|  1|
|  1|  1|  1| -1|  1|  1| -1|  1| -1|  1| -1| -1|  1| -1| -1|  1| -1| -1|  1| -1| -1| -1|  1| -1|  1|  1| -1| -1|  1|  1| -1| -1|  1|  1| -1|  1| -1| -1| -1| -1| -1| -1| -1| -1| -1|  1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1| -1|  1|  1|  1|  1|
|  1| -1|  1| -1| -1| -1| -1| -1| -1|  1| -1|  1|  1|  1| -1|  1|  1|  1| -1|  1|  1|  1| -1|  1|  1| -1|  1| -1|  1| -1|  1|  1| -1| -1| -1| -1| -1| -1|  1| -1| -1| -1| -1|  1| -1| -1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|
|  1| -1|  1| -1|  1| -1| -1|  1|  1|  1|  1|  1| -1| -1| -1|  1| -1|  1|  1|  1| -1|  1| -1|  1|  1| -1|  1|  1| -1| -1| -1|  1| -1|  1| -1| -1|  1| -1|  1|  1|  1| -1|  1| -1|  1| -1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1|  1| -1|
+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 5 rows

In [32]:
w.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,-0.007841,-0.004139,-0.005414,0.0033,0.002638,0.00939,-0.011182,-0.004379,-0.008683,-0.007685,...,-0.002512,0.011746,-0.006911,0.00074,0.011397,0.005465,0.005641,-0.002381,0.004438,-0.004438

In [33]:
bias

         0
0  0.00015

In [66]:
def loss_SVM(w, b, X, y):
    lambd = 0.1
    # Helper function for the max part of the obj function by row
    def loss_by_row(*cols):
        x = np.array(cols[:-1])  # x0 to x63
        y_val = cols[-1]         # Final value as y
        margin = y_val * (np.dot(w, x) + b)
        return float(max(0, 1 - margin))
    # user defined function for pyspark
    loss_udf = udf(loss_by_row, DoubleType())

    features = [f"x{i}" for i in range(64)]
    inputs = [X[c] for c in features] + [y]

    df = X.withColumn("loss", loss_udf(*inputs))
    avg_loss = df.agg(mean("loss")).first()[0]
    # Add final term
    return avg_loss + lambd * np.dot(w, w)

In [67]:
def predict(w, b, X):
    # Prediction by row
    def predict_row(*cols):
        x = np.array(cols)
        score = np.dot(w, x) + b
        return int(1 if score >= 0 else -1)
    # Declare pyspark UDF
    predict_udf = udf(predict_row, IntegerType())

    feature_cols = [f"x{i}" for i in range(64)]
    return X.withColumn("prediction", predict_udf(*[X[c] for c in feature_cols]))

In [69]:
# Decided to pass the entire df as X and use y as the column identifier for the y values to make it easier
loss = loss_SVM(w.values.flatten(), float(bias.values[0][0]), df, "y")
print("Objective Value:", loss)

predicted_df = predict(w.values.flatten(), float(bias.values[0][0]), df)
predicted_df.select("y", "prediction").show()

Objective Value: 1.0000454245191737
+---+----------+
|  y|prediction|
+---+----------+
| -1|        -1|
|  1|        -1|
|  1|        -1|
|  1|         1|
| -1|        -1|
| -1|         1|
| -1|        -1|
|  1|        -1|
| -1|         1|
|  1|        -1|
|  1|         1|
|  1|        -1|
| -1|        -1|
|  1|        -1|
| -1|         1|
|  1|         1|
|  1|         1|
|  1|        -1|
|  1|         1|
|  1|        -1|
+---+----------+
only showing top 20 rows